  /* Base Styles */
  body{
    margin: 0;
    padding: 0;

  }
body{
    font: 15px/1.5 ariel helvetica, sans-serif;
    font-size: 1em;
    line-height: 1.5;
    background-color: #000003e1; 
}
 
.wrap{
  
  margin: auto;
  overflow:hidden;
}

/* -- Main header -- */
.main_header{
    background: url('../img/IMG-6726A.jpg' ) no-repeat center 0 ;
    top:0;
	  padding: 10px;
	  position: fixed;
    width: 100%;
    border-bottom: solid #daeaff 2px;
    background-color: solid black;
}

.title{
  color:  #0a2f74c2;
  padding: 10px;
  

}

/* Navigation */

/* Main */
.nav {
  top: 10px;
	text-decoration: none;
	padding: 5px;
  right: 30px;
  position:fixed;
}

li {
  display: inline-block;
  text-decoration: none;
  
}

a{
  text-decoration: none;
 }

 a:hover{
  text-decoration: none;
  font-weight:bold;
 }


/* Social */
 .s-m >{
  position: fixed;
  display: inline-block;

}

.s-m a {
  margin-left:40px;
  margin-top: 5px;
  text-decoration: none;
  font-size: 15px;
  color: #236d63;
  width: 0px;
  height: 10px;
  text-align: center;
  transition: 0.4s all;
  line-height: 30px;
  cursor: pointer;
  border-radius: 1%;

}
.s-m a:hover{
  transform: scale(1.4);
}


/* -- Container styles -- */

/* Grid Styles*/
.main_grid{
  display: grid;
  font-family: 'Courier New', Courier, monospace;
  color: #ecfff2d5;
  margin-top: 140px;
}



/* Grid items*/


.section_1 {
  background-color: #236d63;
  border-bottom: 10px solid #2f6947;
  padding: .6em;
}

.section_2 {
  background-color: rgba(40, 105, 114, 0.50);
  border-bottom: 5px solid #2f6947;
  padding: .6em;
  
  
}

.section_3 {
  background-color: rgba(40, 105, 114, 0.50);
  border-bottom: 5px solid #2f6947;
  padding: .6em;
}


/*Other Pages: about, New, 
articles, etc.  */

/*About.HTML */

.about {
  padding: 1px;
  color: #aab9c5;
  margin-left: 30px;
}



/* Footer */
.footer {
  padding: 50px;
  color: rgb(59, 149, 177);
  text-align: center;
}





 /* Media Quaries */

@media (max-width: 769px)
  
        {
    .wrap {
     min-height: calc(100vh - 52px);

    }
 } 

