  /* Base Styles */
  body{
    margin: 0;
    padding: 0;

  }
body{
    font: 15px/1.5 ariel helvetica, sans-serif;
    font-size: 1em;
    line-height: 1.5;
    background-color: #000003e1; 
}
 
.wrap{
  
  margin: auto;
  overflow:hidden;
}
/* -- Main header -- */
.main_header{
   
    background: url('../img/IMG-6726A.jpg' ) no-repeat center 0 ;
    position: fixed ;
    top: 0;
    width: 100%;
    height: 200px;
    border-bottom: solid gray 5px;
}

/*Navigation styles*/

.s-m >{
  margin-left:25px;
  position: fixed;
  display: inline-block;

}
.s-m a{
  margin-left:50px;
  margin-top: 100px;
  text-decoration: none;
  font-size: 20px;
  color: #a9f123;
  width: 40px;
  height: 40px;
  text-align: center;
  transition: 0.4s all;
  line-height: 40px;
  cursor: pointer;
  
  border-radius: 1%;
}
.s-m a:hover{
  transform: scale(1.4);
}


/* -- Container styles -- */

/* Grid Styles*/
.main_grid{
  display: grid;
  font-family: 'Courier New', Courier, monospace;
  color: #ecfff2d5;
  margin-top: 250px;
}

/* Grid items*/
.item1 {
  background-color: #ffdf2a73;
  border-bottom: 10px solid #2f6947;
  padding: .6em;
}

.item2 {
  background-color: rgba(40, 105, 114, 0.50);
  border-bottom: 5px solid #2f6947;
  padding: .6em;
  
  
}

.item3 {
  background-color: rgba(40, 105, 114, 0.50);
  border-bottom: 5px solid #2f6947;
  padding: .6em;
}
 





/*Fonts styles*/
.title_font{
  color:  #74792dc2;
  padding: 10px;
  margin-top:20px; 
  margin-left: 5px;
  
}

/* Footer */
.footer {
  padding: 5px;
  color: rgb(59, 149, 177);
  text-align: center;
}

/*Other Pages: about, New, 
articles, etc.  */

/*About.HTML */

.about {
  padding: 1px;
  color: #aab9c5;
  margin-left: 30px;
}






 /* Media Quaries */

  @media (max-width: 769px)
  
        {
    .wrap {
     min-height: calc(100vh - 52px) 
    }
 }

